<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'memotion:register'  %}" method="post">{% csrf_token %}
        <h1>회원가입</h1>
        <input type="id" value="" name="user_id" placeholder="ID"/><br>
        <input type="password" value="" name="password" placeholder="PASSWORD"><br>
        <input type="name" value="" name="name" placeholder="NAME"><br>
        <input type="submit" value="회원가입">
    </form>
</body>
</html>